@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/wallpaper.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  background-size: cover;
  font-family: Roboto,
    sans-serif;
  display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	overflow: hidden;
  color: wheat;
  font-family: 700;
}

.tip-form {
  width: 43vw;
  height: 70vh;
  background-color: #363a934d;
  box-shadow: 10px 10px 5px black;
  border-radius: 9px;
  padding-left: 30px;
  font-size: 22px;
}

.tip-form h3 {
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
  color: wheat;
}

.tip-form input {
  width: 25vw;
  padding: 5px;
  margin-left: 1vw;
  font-size: 18px;
  background-color: #121ab89f;
  border-radius: 10px;
}

option {
  color: #030427dd;
}

#tip-input {
  width: 25vw;
  padding: 5px;
  margin-left: 1vw;
  font-size: 18px;
  border-radius: 10px;
  text-align: center;
  background-color: #121ab83a;
  color: wheat;
}

.btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 35vw;
  padding: 8px;
  justify-content: center;
  text-align: center;
}

.tip-form button {
  width: 12vw;
  padding: 8px;
  margin: 25px;
  border-radius: 8px;
  font-size: 16px;
  background-color: #121ab83a;
  color: wheat;
}
